
    <script>
        document.getElementById('toggleButton').addEventListener('click', function() {
            var historyBar = document.getElementById('historyBar');
            var container = document.getElementById('container');
            var chatContainer = document.getElementById('chatContainer');
            if (historyBar.style.display === 'none') {
                historyBar.style.display = 'block';
                container.style.marginLeft = '250px';
                container.style.width = 'calc(100% - 250px)';
                chatContainer.style.width = '100%';
                chatContainer.style.maxWidth = '1200px';
                this.textContent = '▲';
            } else {
                historyBar.style.display = 'none';
                container.style.marginLeft = '0';
                container.style.width = '100%';
                chatContainer.style.width = '100%';
                chatContainer.style.maxWidth = '2000px';
                this.textContent = '▼';
            }
        });

        
        document.querySelectorAll('.keyword-button').forEach(button => {
            button.addEventListener('click', function() {
                var keyword = this.textContent;
                fetchConversation(keyword);
            });
        });

        function fetchConversation(keyword) {
            
            fetch("{% url 'fetch_conversation' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ keyword: keyword })
        })
        .then(response => response.json())
        .then(data => {
            var chatArea = document.getElementById('chat-area');
            chatArea.innerHTML = ''; 

            
            data.forEach(item => {
                var botMessage = document.createElement('div');
                botMessage.className = 'message bot-message';
                botMessage.innerHTML = `<div class="message-content">${item.chatting_output}</div>`;
                chatArea.appendChild(botMessage);
            });
        })
        .catch(error => {
            console.error('Error fetching conversation:', error);
        });
    }
    </script>
