{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static 'css/homepage.css' %}">
    <!--link href="https://fonts.googleapis.com/css2?family=Söhne:wght@400;700&display=swap" rel="stylesheet"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        body {
            background: url("{% static 'img/back00.png' %}") no-repeat center center fixed;
        }
    </style>
</head>

<body>
    <div class='main-header'>
        <!-- 로고와 설명 문구 추가 -->
        <div class="logo-text">CodeGenius</div>
        <div class="description">
            <p>
              &nbsp;파이썬 학습을 도와주는 챗봇입니다.<br>
              &nbsp;이메일을 입력하고 시작 버튼을 눌러 나만의 코딩 학습 여정을 시작하세요.
            </p>
        </div>
    
        <!-- 이메일 입력 폼과 start 버튼 -->
        <form method="post" class="email-form" id="emailForm">
            <div class="button_container">
                {% csrf_token %}
                <input type="email" name="email" class="email-input" placeholder="Enter your email" required>
                <button type="submit" class="button">start</button>
            </div>
        </form>
    </div>

    <!--키워드박스 생성-->
    <div class="keyword-box">
        <p class="weekly-title"> Weekly<br> Keyword</p>
        <script src="{% static 'js/keyword.js' %}"></script>
    </div>

    <!--로켓이미지 생성-->
    <div class="rocket">
        <img src="{% static 'img/rocket5.png' %}" alt="Image">
        <script src="{% static 'js/rocket.js' %}"></script>
    </div>
</body>
</html>